<a href="https://colab.research.google.com/github/mimomonky/mimomonky/blob/main/Copy_of_DT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **STARTING**

In [ ]:
                                                                                          !python --version

Python 3.7.15

In [ ]:
print("sample")

sample

In [ ]:
a=23

In [ ]:
print(a)

23

In [ ]:
a

23

In [ ]:
#variable name rule
sample_data_one=34 #snake case
sampleDataOne=34 #camel case
SampleDataOne=34 #pascal case

In [ ]:
#donts
23a=45
a-b
a b

In [ ]:
"""hi all
hi"""
print("""good
goog """)

good
goog

In [ ]:
value=45
print(value,type(value))

45 <class 'int'>

In [ ]:
value=45.6
print(value,type(value))

45.6 <class 'float'>

In [ ]:
x="super"
print(x,type(value))

super <class 'str'>

In [ ]:
x=3+45j
print(x)
x,type(x)

(3+45j)

((3+45j), complex)

In [ ]:
a="hi all, have a great day"
b="byee"

In [ ]:
a

'hi all, \nhave a great day'

In [ ]:
print("",a,"\n",b)

 hi all, have a great day
 byee

In [ ]:
print(a\nb)

SyntaxError: ignored

In [ ]:
x=3+45j
print(x+70)
x,type(x)

(73+45j)

((3+45j), complex)

In [ ]:
x=3+45j
print(x*4)
x,type(x)

(12+180j)

((3+45j), complex)

In [ ]:
x=3+45j
print(x*4j)
x,type(x)

(-180+12j)

((3+45j), complex)

In [ ]:
a="google pixel 6"

In [ ]:
a[0]

'g'

In [ ]:
print(a[0])

g

In [ ]:
a[7]

'p'

In [ ]:
len(a)

14

In [ ]:
a[2:9] #starts from 2 , till, lessthen 9

'ogle pi'

In [ ]:
a[3:13]

'gle pixel '

In [ ]:
a[6:]

' pixel 6'

In [ ]:
a[3:200]

'gle pixel 6'

In [ ]:
a[3:4]

'g'

In [ ]:
a[8:2]

''

In [ ]:
a[1:10]

'oogle pix'

In [ ]:
a[1:10:2] #step seq

'ogepx'

In [ ]:
a[1:12]

'oogle pixel'

In [ ]:
a[1:12:4]

'oex'

In [ ]:
a[12:1:-1]

' lexip elgo'

In [ ]:
a[11:1:-3]

'lieo'

In [ ]:
a[12::-1]

' lexip elgoog'

In [ ]:
a[::-1]

'6 lexip elgoog'

In [ ]:
a="google pixel 6"

In [ ]:
a[-5]

'x'

In [ ]:
a[-13]

'o'

In [ ]:
a[-13:-4]

'oogle pix'

In [ ]:
a[1:10]

'oogle pix'

In [ ]:
a[1:-1]
a[-1::-1]
a[3:-13]
a[13:-13:-3]

In [ ]:
x=input() #run time input ,

895

In [ ]:
x,type(x)

('895', str)

In [ ]:
int(x)+7

902

In [ ]:
y=int(x)
y,type(y)

(895, int)

In [ ]:
x=input("enter value for x ")

enter value for x 45.8

In [ ]:
type(x)

str

In [ ]:
x=float(input("x "))

x 545.5

In [ ]:
x,type(x)

(545.5, float)

In [ ]:
name=input("give name ")
location = input("location pls ")
salary=int(input("salary "))

give name ashok
location pls chennai
salary 78000

In [ ]:
print("hi I am "+name+" I am from "+location+"my salary is "+str(salary))

hi I am ashok I am from chennaimy salary is 45000

In [ ]:
statement = "Hi I am {} , I am from {}, My salary is {}"
#{} place holder for data stich

In [ ]:
print(statement.format(name,location,salary))

Hi I am ashok , I am from chennai, My salary is 78000

In [ ]:
statement = "Hi I am {} , I am from {}, My salary is {}"
print(statement.format(location,salary,name))

Hi I am chennai , I am from 78000, My salary is ashok

In [ ]:
statement = "Hi I am {2} , I am from {0}, My salary is {1}"
print(statement.format(location,salary,name))

Hi I am ashok , I am from chennai, My salary is 78000

In [ ]:
import time

In [ ]:
s=time.time()

In [ ]:
s

1667103632.4317906

In [ ]:
localtime=time.ctime(s)
localtime

'Sun Oct 30 04:20:32 2022'

In [ ]:
s=60
localtime=time.ctime()
localtime

'Sun Oct 30 04:31:52 2022'

In [ ]:
import time

name=input()
currentBalance=int(input())
Bank=input()
time_s=time.time()
local_Time=time.ctime(time_s)
Debited=int(input())
currentBalance=currentBalance-Debited
para="Hi this is {},My  Current  Balance is {} and your bank name is {},Your money has debited is {},Time is {}"
print(para.format(name,currentBalance,Bank,Debited,local_Time))

aaa
65000
icici
4000
Hi this is aaa,My  Current  Balance is 61000 and your bank name is icici,Your money has debited is 4000,Time is Sun Oct 30 04:48:14 2022

In [ ]:
from datetime import datetime
import pytz

IST=pytz.timezone("Asia/Kolkata")

print(datetime.now(IST))

2022-10-30 10:20:46.610809+05:30

In [ ]:
import time
at_now = time.ctime()

Name = input('Name ')
Total_Amount = int(input("Total Amount "))
Withdrawn = int(input('With drawn '))
Location = input('Branch Location ')
Available_Balance =Total_Amount - Withdrawn
at_now = time.ctime()

Template = "Hi {0}, You withdrawn {1} from ICICI, {4} branch at {3},available balance is {2} "

print(Template.format(Name,Withdrawn,Available_Balance,at_now,Location))

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
a="google pixel 6"
a.capitalize(),a.title()

('Google pixel 6', 'Google Pixel 6')

#NOV 05 2022

seq data type
lots of data in a single variable
tuples , list

In [11]:
#tuples - combination of more data
# var_name = (23,"a",78.9)
# unchangeable, ordered, duplicated 
# ()

In [2]:
name=("barath","gopinath","heamnath")
print(name,type(name))

('barath', 'gopinath', 'heamnath') <class 'tuple'>

In [3]:
name[0:2]

('barath', 'gopinath')

In [4]:
name[0][3]

'a'

In [5]:
type(name[0])

str

In [6]:
name[0]="hello"

TypeError: ignored

In [ ]:
name=("barath","gopinath","heamnath","gopinath","gopinath","magesh")

In [ ]:
name.count("gopinath")

In [ ]:
len(name)

In [ ]:
name.index("gopinath")

In [ ]:
name1=("abc",78)

In [ ]:
name2=name+name1
name2

In [ ]:
name=name+name1
name

In [ ]:
name

In [ ]:
#list
#combination of more data
# var_name = [23,"a",78.9]
# changeable, ordered, duplicated 
# []

In [ ]:
name=["barath","gopinath","heamnath","gopinath","gopinath","magesh"]
name,type(name)

In [ ]:
name[0]

In [ ]:
name.append("rajan") #this ll add data at the end
name

In [ ]:
name.insert(2,"suresh") #this ll add data in the index val
name

In [ ]:
name[4]="guru"
name

In [ ]:
name[3:6]

In [ ]:
name[3:6]=["bagyasree","aaj","indumathi","yusuf","raju"]
name

In [ ]:
name[4]=[1,2,3,4,"hello"]

In [ ]:
name

In [ ]:
name[4],type(name[4])

In [ ]:
name[4][4][2]

In [ ]:
name[3:6]=["bala"]
name

In [ ]:
name[5]

In [ ]:
dir(list)

In [ ]:
name

In [ ]:
name.remove("gopinath")
name

In [ ]:
name.append("gopi")

In [ ]:
name

In [13]:
name.remove("gopi")

AttributeError: ignored

In [ ]:
del name[3]
name

In [ ]:
del name[5:]
name

In [ ]:
name.pop(3)

In [ ]:
name

In [ ]:
name.pop()

In [ ]:
name

In [ ]:
name[3:6]=["bagyasree","aaj","indumathi","yusuf","raju"]
name

In [ ]:
name.pop((2:5))

In [ ]:
name.pop()

In [ ]:
name

In [ ]:
len(name)

In [ ]:
dir(list)

In [ ]:
name.sort()
name

In [ ]:
name.sort(reverse=True)
name

In [ ]:
name.append("Yuvaraj")
name

In [ ]:
name.sort()
name

In [ ]:
x=name.copy()
x

In [ ]:
loc=["chennai","blr"]
loc

In [ ]:
name.extend(loc)
name

In [ ]:
x=name+loc
x

In [7]:
age=(23,24,34)
y=name+age

In [8]:
name.extend(age)
name

AttributeError: ignored

In [ ]:
name.clear()
name

In [ ]:
#dict
#combination of more data
# var_name = {key:val,key:val}
# changeable, unordered, val duplicated , key duplicate not allowed
# {}

In [ ]:
emp={23:"aaj",24:"bagyasree","a":"guru"}
emp,type(emp)

In [ ]:
emp[23]

In [ ]:
emp.get(24)

In [ ]:
emp[27]="shyam"
emp

In [ ]:
emp[23]="gowri"
emp

In [ ]:
emp.keys()

In [ ]:
emp.values()

In [ ]:
emp.update({23.5:"dev"})
emp

In [ ]:
emp.update({24:"deva"})
emp

In [ ]:
emp.update({3:"devi"})
emp

In [ ]:
emp.pop("a")

In [ ]:
emp

In [ ]:
emp.popitem()

In [ ]:
emp

In [ ]:
emp.popitem()

In [ ]:
emp

In [ ]:
del emp[24]

In [ ]:
emp

In [ ]:
del emp

In [ ]:
emp

In [ ]:
del emp[3]

In [ ]:
emp={23:"aaj",24:"bagyasree","a":"guru"}

In [ ]:
del emp[23]

In [ ]:
emp

In [ ]:
emp[44]=[7,8,9,5]
emp

In [ ]:
type(emp[44][2])

In [ ]:
rs=int(input("Enter the amount: "))
Fst=rs//2000
print("2000 *",Fst) 
BL = rs%2000
Snd = BL//500
print('500  *',Snd)
BL = BL%500
Trd = BL//200
print("200  *",Trd)
BL = BL%200
Fth = BL//100
print("100  *",Fth)
BL = BL%100
Fi = BL//50
print("50   *",Fi)
BL = BL%50
Si = BL//20
print("20   *",Si)
BL = BL%20
Sv = BL//10
print("10   *",Sv)
BL = BL%10
Ei = BL//5
print("5    *",Ei)
BL = BL%5
Ni = BL//2
print("2    *",Ni)
BL = BL%2
Tn = BL//1
print("1    *",Tn)

In [ ]:
A,B,C,D,E,F,G,H,I,J=(2000,500,200,100,50,20,10,5,2,1)
Amount=int(input("Enter Your Amount:"))
print(Amount)
Two_Thousand=Amount//A
print("Two Thousand Rupees Note:",Two_Thousand)
Remain_Amount1=Amount%A
Five_Hundred=Remain_Amount1//B
print("Five Hundred Rupees Note:",Five_Hundred)
Remain_Amount2=Remain_Amount1%B
Two_Hundred=Remain_Amount2//C
print("Two Hundred Rupees Note:",Two_Hundred)
Remain_Amount3=Remain_Amount2%C
One_Hundred=Remain_Amount3//D
print("One Hundred Rupees Note:",One_Hundred)
Remain_Amount4=Remain_Amount3%D
Fifty_Rupees=Remain_Amount4//E
print(" Fifty Rupees Note:",Fifty_Rupees)
Remain_Amount5=Remain_Amount4%E
Twenty_Rupees=Remain_Amount5//F
print(" Twenty Rupees Note:",Twenty_Rupees)
Remain_Amount6=Remain_Amount5%F
Ten_Rupees=Remain_Amount6//G
print(" Ten Rupees Note:",Ten_Rupees)
Remain_Amount7=Remain_Amount6%G
Five_Rupees=Remain_Amount7//H
print(" Five Rupees Note:",Five_Rupees)
Remain_Amount8=Remain_Amount7%H
Two_Rupees=Remain_Amount8//I
print(" Two Rupees Note:",Two_Rupees)
Remain_Amount9=Remain_Amount8%I
One_Rupees=Remain_Amount9//J
print(" One Rupees Note:",One_Rupees)

# **Nov 06 2022**

In [ ]:
cond
==
<
<=
>
>=

In [ ]:
a=int(input("give a "))
b=int(input("give b "))

give a 98
give b 11

In [ ]:
if a>b:
    print("a is greater")
print("sucess")

sucess

In [ ]:
import time

In [ ]:
time.sleep(2)
if a>b:
    time.sleep(2)
    print("a is greater")
    time.sleep(2)
else:
    time.sleep(2)
    print("b is greater")
    time.sleep(2)

b is greater

In [ ]:
time.sleep(2)
if a>b:
    time.sleep(2)
    print("a is greater")
    time.sleep(2)
elif a==b:
    time.sleep(2)
    print("equal")
    time.sleep(2)
else:
    time.sleep(2)
    print("b is greater")
    time.sleep(2)

equal

NameError: ignored

In [ ]:
if a>b:print("a is greater")

a is greater

In [ ]:
print("a is greater") if a>b else print("b greater")

a is greater

In [ ]:
print("a is greater") if a>b else print("b greater") if a<b else print("equal")

equal

In [ ]:
if a>b and a>c and a>d and a>e:
    print("a")
    print(gfgcf)
print("jjjj")

NameError: ignored

In [ ]:
name=["aaj","indhumathi","durga"]
a=input("enter the name to search ")
if a in name:
    print("yes")
else:
    print("no")

enter the name to search aaj
yes

In [ ]:
if a in name:
    pass

In [ ]:
#while
#1 initi
#2 condition veri
#3 inc/dec
#for

In [ ]:

time.sleep(2)
i=1
time.sleep(2)
while i<10:
    time.sleep(2)
    print(i)
    time.sleep(2)
    i=i+1
    time.sleep(2)
    print("i ",i)

1
i  2
2
i  3
3
i  4
4
i  5
5
i  6
6
i  7
7
i  8
8
i  9
9
i  10

In [ ]:
name=["aaj","indhumathi","durga","prakash","suresh","durga"]

In [ ]:
i=0
while i<len(name):
    print(name[i])
    i=i+1
    print("after",i)

aaj
after 1
indhumathi
after 2
durga
after 3
suresh
after 4
durga
after 5

In [ ]:
a=input("enter the name to search ")
i=0
while i<len(name):
    if a == name[i]:
        print("yes")
        print(i,name[i])
    i=i+1

enter the name to search durga
yes
2 durga
yes
5 durga

In [ ]:
a=input("enter the name to search ")
i=0
while i<len(name):
    if a == name[i]:
        print("yes")
        print(i,name[i])
        break
    i=i+1
    print("after ",i)

enter the name to search prakash
after  1
after  2
after  3
yes
3 prakash

In [ ]:

i=1
while i<10:
    #print(i)
    if i==5:
        break
    print(i)
    i=i+1

1
2
3
4

In [ ]:

i=1
while i<10:
    print(i)
    if i==5:
        break
    i=i+1

1
2
3
4
5

In [ ]:
a=input("enter the name to search ")

i=-1
while i<len(name)-1:
    i=i+1
    if name[i]==a:
        continue
    print(name[i])

enter the name to search durga
aaj
indhumathi
prakash
suresh

In [ ]:
a=input("enter the name to search ")
i=0
while i<len(name):
    print(name[i])
    if a == name[i]:
        print(i,name[i])
        continue
    i=i+1

#Nov 12 2022

In [ ]:
name=["aaj","bal","dhe","durga"]

In [ ]:
i=0
while i<=len(name):
    print(name[i])
    i=i+1
a=input("get a")
print(a)

aaj
bal
dhe
durga

IndexError: ignored

In [ ]:
try:
    i=0
    while i<=len(name):
        print(name[i])
        i=i+1
except :
    print("entire list is completed")
a=input("get a")
print(a)

aaj
bal
dhe
durga
entire list is completed
get a99
99

In [ ]:
n1=int(input("n1 "))
n2=int(input("n2 "))
print(n1/n2)

n1 45
n2 0

ZeroDivisionError: ignored

In [ ]:
while True:
    try:
        n1=int(input("n1 "))
        n2=int(input("n2 "))
        print(n1/n2)
        break
    except ZeroDivisionError:
        print("enter valid number ")

n1 45
n2 0
enter valid number
n1 94
n2 0
enter valid number
n1 0
n2 0
enter valid number
n1 78
n2 56
1.3928571428571428

In [ ]:
while True:
    try:
        n1=int(input("n1 "))
        n2=int(input("n2 "))
        print(n1/n2)
    except ZeroDivisionError:
        print("enter valid number ")

n1 2
n2 4
0.5
n1 34
n2 56
0.6071428571428571

KeyboardInterrupt: ignored

In [ ]:
i=1
while i<=3:
    try:
        n1=int(input("n1 "))
        n2=int(input("n2 "))
        print(n1/n2)
    except ZeroDivisionError:
        print("enter valid number ")
    i=i+1

n1 12
n2 0
enter valid number
n1 15
n2 0
enter valid number
n1 64
n2 0
enter valid number

In [ ]:
age=int(input("age "))
if age>18:
    print("eligible")
else:
    print("not eligible")
print("further")

age 12
not eligible
further

In [ ]:
age=int(input("age "))
if age>0:
    print("eligible")
else:
    raise Exception("not a valid age")
print("further")

age -9

Exception: ignored

In [ ]:
try:
    n1=int(input("n1 "))
    n2=int(input("n2 "))
    print(n1/n2)
except ZeroDivisionError:
    print("enter valid number ")
except ValueError:
    pass
finally:
    print("end")
print("hi")

SyntaxError: ignored

In [ ]:
name

['aaj', 'bal', 'dhe', 'durga']

In [ ]:
for i in name:
    print(i)

aaj
bal
dhe
durga

In [ ]:
for i in range(45,78):
    print(i)

45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

In [ ]:
i=45
while i<78:
    print(i)
    i=i+1

In [ ]:
for i in name:
    if i=="dhe":
        break
    print(i)

aaj
bal

In [ ]:
for i in name:
    if i=="dhe":
        continue
    print(i)

aaj
bal
durga

In [ ]:
a=23.5
for i in str(a):
    print(i)

2
3
.
5

In [ ]:
amount=int(input("enter "))
data=[]
cur=[2000,500,200,100,50,20,10,5,2,1]
for i in cur:
    data.append(amount//i)
    amount=amount%i
data

enter 8900

[4, 1, 2, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
try:
    i=-1
    while i<len(data):
        i=i+1
        if data[i]==0:
            continue
        print(data[i],cur[i])
except IndexError:
    print("completed")

3 2000
2 500
2 200
1 50
1 5
1 1
completed

In [ ]:
N=int(input("Enter the amount:"))
if N>=2000:
  Two_thou=N//2000
  print('2000:', Two_thou)
  N=N%2000
if N>=500:
  FiTh=N//500
  print('500:', FiTh)
  N=N%500
if N>=200:
  t2h=N//200
  print('200:', t2h)
  N=N%200
if N>=100:
 Oh=N//100
 print('100:', Oh)
 N=N%100
if N>=50:
  Fif=N//50
  print('50:',Fif)
  N=N%50
if N>=20:
  Tw=N//20
  print('20',Tw)
  N=N%20
if N>=10:
  Te=N//10
  print('10:', Te)
  N=N%10
if N>=1:
  One=N//1
  print('1:', One)

Enter the amount:450
200: 2
50: 1

function
block of code, runs when it is called

1 inbuild
2 user defined

func def
func call

NOV 13 2022

In [ ]:
# functions
def fenc1():
  print("welcome")

In [ ]:
fenc1()

welcome

In [ ]:
# functions with arguments
def func2(x,y): # step 4 enters into func2,as x = 56 y = 23
  x = x+y+78 # step 5 x = 56 + 23 +78 = 157
  print(x-y) # step 6 prints 157 - 23 = 134
  print(x,y,"function") #step 7 prints 157,23,"function"

In [ ]:
x = int(input("enter the x")) # step 1 x = 56
y = int(input("enter the y")) # step 2 y = 23
func2(x,y)   # step 3 = > func2(56,23)
print(x,y,"normal program")  # step 8 prints 56,23 normal program

enter the x56
enter the y23
134
157 23 function
56 23 normal program

In [ ]:
func2(y,x)

101
157 56 function

In [ ]:
func2(2,8)

80
88 8 function

In [ ]:
# functions argument and return
def func3(x,y): # step 4 enters func3 as x = 8 y = 5
  z = x + y # step 5 creates new variable z = 8 + 5 = 13 
  return z # step 6 returns 13

In [ ]:
x = int(input("enter the x")) # step 1
y = int(input("enter the y")) # step 2
r = func3(x,y) # step 3 calls func3 with values 8,5 # step 7 r = return value of func3 = 13
print(r,"normal program") # step 8 prints value or and normal program

enter the x8
enter the y5
13 normal program

In [ ]:
func2(x,y)

86
91 5 function

In [ ]:
func3(x,y)

13

In [ ]:
print(z)

NameError: ignored

In [ ]:
# functions with arguments and multiple returns
def func3(x,y): # step 4
  z = x + y # step 5   z = 5+3=8
  a = x / y # step 6   a = 5/3=1.66
  return z,a # step 7    returns 8,1.66

In [ ]:
x = int(input("enter the x")) # step 1
y = int(input("enter the y")) # step 2
r = func3(x,y) # step 3 # step 8    r = (8,1.66)
print(r,"normal program") # step 9   prints r, normal program

enter the x5
enter the y3
(8, 1.6666666666666667) normal program

In [ ]:
type(r)

tuple

In [ ]:
# functions with default arguments
def func4(country="India"):
  print("i am from "+country)

In [ ]:
func4()

i am from India

In [ ]:
func4("afganisthan")

i am from afganisthan

In [ ]:
func4()

i am from India

In [ ]:
def func5(country):
  print("i am from "+country)

In [ ]:
func5()

TypeError: ignored

In [ ]:
# task
# we should get arguments in func by using try,excemption

In [ ]:
def func6(m1=7,m2=8):
  total=m1+m2
  print(total+100)
  return total

In [ ]:
func6(20)

128

28

In [ ]:
func6(20,30)

150

50

In [ ]:
func6()

In [ ]:
def func7(m1=5,m2):
  print(m1,m2)

SyntaxError: ignored

In [ ]:
func7(20)

In [ ]:
def func8(m1,m2,m3=45):
  print(m1,m2,m3)

In [ ]:
func8(20,30)

20 30 45

In [ ]:
def func8(m1,m2=45,m3):
  print(m1,m2,m3)

In [ ]:
# functions with keyword arguments
def func9(m1,m2): # step 4 enters func9 as m1=4,m2=7 # step 102 m1=5,m2=4
  print("m1",m1) # step 103 
  print("m2",m2) # step 104

In [ ]:
m1=int(input("enter m1 = ")) # step 1 , m1=7
m2=int(input("enter m2 = ")) # step 2 , m2=4
func9(m2,m1) # step 3  calls func9(4,7)
print("######&^%^&")
print("m1",m1)
print("m2",m2)

enter m1 = 7
enter m2 = 4
m1 4
m2 7
######&^%^&
m1 7
m2 4

In [ ]:
func9(m2=int(input("enter m2 ")),m1=int(input("enter m1 "))) # step 101 gets values m2,m1 as keyword agruments for func9
print("333333#########") # step 105
print("m1",m1) # step 106 prints m1 as we declared in the previous cell(step 1)
print("m2",m2) # step 107 prints m2 as we declared in the previous cell(step 2)

enter m2 4
enter m1 5
m1 5
m2 4
333333#########
m1 7
m2 4

In [ ]:
def func10(m1=6,m2=9):
  print("m1",m1)
  print("m2",m2)

In [ ]:
func10(m1=(2,3,4),m2=[100,200,300])

m1 (2, 3, 4)
m2 [100, 200, 300]

In [ ]:
print(func10(m1=(2,3,4),m2=[100,200,300]))

m1 (2, 3, 4)
m2 [100, 200, 300]
None

In [ ]:
def func10(m1=6,m2=9):
  print("m1",m1)
  print("m2",m2)
  return("bye")

In [ ]:
print(func10(m1=(2,3,4),m2=[100,200,300]))

m1 (2, 3, 4)
m2 [100, 200, 300]
bye

In [ ]:
a=func10()

m1 6
m2 9

In [ ]:
a

'bye'

#20 Nov 2022

In [ ]:
#variable length arg
def func10(*v):
    print(v,type(v))

In [ ]:
func10(78)

(78,) <class 'tuple'>

In [ ]:
func10([45,78,89,12])

([45, 78, 89, 12],) <class 'tuple'>

In [ ]:
#variable length keyword arg
def func11(**va):
    print(va,type(va))

In [ ]:
func11(45)

TypeError: ignored

In [ ]:
func11(m=1,n=34)

{'m': 1, 'n': 34} <class 'dict'>

In [ ]:
def func12(*v,**va):
    print(v,va)
    print(type(v),type(va))

In [ ]:
func12("sample",78,"test",a=45)

('sample', 78, 'test') {'a': 45}
<class 'tuple'> <class 'dict'>

In [ ]:
func12(x=23)

() {'x': 23}
<class 'tuple'> <class 'dict'>

In [ ]:
def func12(*v,x=None,**va):
    print(v,x,va)
    print(type(v),type(x),type(va))

In [ ]:
func12("sample",78,"test",a=45)

('sample', 78, 'test') None {'a': 45}
<class 'tuple'> <class 'NoneType'> <class 'dict'>

In [ ]:
def func12(x=None,*v,**va):
    print(v,x,va)
    print(type(v),type(x),type(va))

In [ ]:
func12("sample",78,"test",a=45)

(78, 'test') sample {'a': 45}
<class 'tuple'> <class 'str'> <class 'dict'>

In [ ]:
def func12(*v,x="aaa",**va):
    print(v,x,va)
    print(type(v),type(x),type(va))

In [ ]:
func12("sample",78,"test",a=45)

In [ ]:
q=None
print(q,type(q))

None <class 'NoneType'>

In [ ]:
def func13(*a,**b):
    print(a,b)

In [ ]:
func13(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7) {}

In [ ]:
def func13(**a,*b):
    print(a,b)

SyntaxError: ignored

In [ ]:
def func14(x):
    if x>=0:
        print(x)
        func14(x-1)
    else:
        pass

In [ ]:
func14(8)

8
7
6
5
4
3
2
1
0

In [ ]:
#lambda function , single line func, 
#syntax             lambda arg:exp

In [ ]:
sample = lambda name : "hi myself is "+ name

In [ ]:
sample, type(sample)

(<function __main__.<lambda>(name)>, function)

In [ ]:
sample("sakthivel")

'hi myself is sakthivel'

In [ ]:
sample1 = lambda *x:x[0]*x[1]*x[2]

In [ ]:
sample1(34,56,78)

148512

In [ ]:
#class
#template / blueprint of code,
#constructor -> object

In [ ]:
class www:#2 enters
    name="arun" #3 var name is connected to object x,=> a property will be created x.name = arun
    id=23 #4

In [ ]:
x=www()#1 object x is created based on sample #5 success

In [ ]:
x.name,x.id

('arun', 23)

In [ ]:
type(x)

__main__.www

In [ ]:
type(sample)

type

In [ ]:
y=www()

In [ ]:
y.name,y.id

('arun', 23)

In [ ]:
x

In [ ]:
x.name="ashok"

In [ ]:
x.name,x.id,y.name,y.id

('ashok', 23, 'arun', 23)

In [ ]:
class emp:#2
    def __init__(self,ID,Name,Age):#3 self=e1,ID=23,Name=gowri,Age=67
        self.id=ID#4 creates property e1.id=23
        self.name=Name#5 creates property e1.name=gowri
        self.age=Age #6 creates

In [ ]:
e1=emp(23,"gowri",67)#1 e1 object based on emp, creation=> enters into __init__(#3) #7 completed

In [ ]:
e1.id

23

In [ ]:
class emp:
    def __init__(self,ID,Name,Age):
        self.name=Name
        self.age=Age
        self.id=ID

In [ ]:
e2=emp(Name="shankari",ID=45,Age=80)

In [ ]:
e2.id,e2.name,e2.age

(45, 'shankari', 80)

In [ ]:
e3=emp(56,"don",77)

In [ ]:
e3.id,e3.name,e3.age

(56, 'don', 77)

In [ ]:
e2,e3

(<__main__.emp at 0x7f51216ad410>, <__main__.emp at 0x7f512173a550>)

# **26 NOV 2022**

In [ ]:
class emp:
  def __init__(self,ID,Name,Age): # self refers the object
    self.id=ID
    self.name=Name
    self.age=Age
  def display(self):
    print("ID",self.id,"\nName", self.name,"\nAge", self.age)

In [ ]:
e1=emp(23,"Sabari",56)

In [ ]:
e1.display()

ID 23
Name Sabari
Age 56

In [ ]:
e2=emp(38,"Sabari",35)

In [ ]:
e2.display()

ID 38
Name Sabari
Age 35

In [ ]:
e1

In [ ]:
class emp:
  def __init__(V,ID,Name,Age): # V refers the object
    V.id=ID
    V.name=Name
    V.age=Age
  def display(self):
    print("ID",self.id,"\nName", self.name,"\nAge", self.age)

In [ ]:
e3 = emp(45,"madhan",29)

In [ ]:
e3

In [ ]:
e3.display()

ID 45
Name madhan
Age 29

In [ ]:
class emp:
  def __init__(V,ID,Name,Age): # V refers the object
    V.id=ID
    V.name=Name
    V.age=Age
  def display(B):
    print("ID",B.id,"\nName", B.name,"\nAge", B.age, "\n",B) # here, also B refers object so its equalent to (B=e4), so it's display like e4

In [ ]:
e4=emp(58,"K7",28)

In [ ]:
e4.display()

ID 58
Name K7
Age 28
 <__main__.emp object at 0x7fbbe4758310>

In [ ]:
e4

In [ ]:
class guvi(emp):
  pass

In [ ]:
g_e1=guvi(12,"Mahesh",25)

In [ ]:
g_e1.display()

ID 12
Name Mahesh
Age 25
 <__main__.guvi object at 0x7fbbe4768bd0>

In [ ]:
class guvi(emp): # guvi is a child class, it's derives from emp class
  def display(self):
    self.id="G"+str(self.id)
    print("ID",self.id,"\nName", self.name,"\nAge", self.age, "\n",self)
  def updatename(self):
    x=input("Enter the new name")
    self.name=x

In [ ]:
g_e2=guvi(85,"Yusuf",23)

In [ ]:
g_e2.display()

ID G85
Name Yusuf
Age 23
 <__main__.guvi object at 0x7fbbe4709050>

In [ ]:
g_e2.updatename()

Enter the new nameASHOK

In [ ]:
g_e2.display()

ID GG85
Name ASHOK
Age 23
 <__main__.guvi object at 0x7fbbe4709050>

In [ ]:
class node: #S2  -> Enters
  def __init__(self,data): #S3 -> Self = N1.Headvalue, data = aaj
    self.Datavalue=data #S4  -> N1.Headvalue.Datavalue = aaj
    self.Nextvalue=None #S5 -> N1.Headvalue.Nextvalue = None
class linkedlist:
  def __init__(self):
    self.Headvalue=None

In [ ]:
N1=linkedlist()

In [ ]:
N1,N1.Headvalue

(<__main__.linkedlist at 0x7fbbe4755710>, None)

In [ ]:
N1.Headvalue = node("aaj") #S1 -> it creates an obj N1.Headvalue | # S6 => Successfully created

In [ ]:
N1.Headvalue

In [ ]:
N1.Headvalue.Datavalue

'aaj'

# **27 NOV 2022**

In [ ]:
class node:
  def __init__(self,data): 
    self.Datavalue=data 
    self.Nextvalue=None 
class linkedlist:
  def __init__(self):
    self.Headvalue=None

In [ ]:
N1=linkedlist()

In [ ]:
N1,N1.Headvalue

(<__main__.linkedlist at 0x7f4d68cc7a90>, None)

In [ ]:
N1.Headvalue=node("aaj")

In [ ]:
N1.Headvalue.Datavalue,N1.Headvalue

('aaj', <__main__.node at 0x7f4d69757f10>)

In [ ]:
N2=node("mahesh")
N3=node("yusuf")
N4=node("madhan")

In [ ]:
N1.Headvalue.Nextvalue=N2
N2.Nextvalue=N3
N3.Nextvalue=N4

In [ ]:
N1.Headvalue.Nextvalue.Nextvalue.Datavalue

'yusuf'

In [ ]:
N3

In [ ]:
class node:
  def __init__(self,data): 
    self.Datavalue=data 
    self.Nextvalue=None 
class linkedlist:
  def __init__(self):
    self.Headvalue=None
  def display(self): #2 self= N1
    temp=self.Headvalue #3 creating temp, temp=N1.Headvalue=>object
    while temp is not None: #4 #7 #10 #13 #16 
      print(temp.Datavalue) #5 #8 #11 #14 
      temp=temp.Nextvalue #6 #9 #12 #15
#4 it checks temp is none ,enters
#5 prints N1.Headvalue.Datavalue=> aaj
#6 modifies temp =temp.Nextvalue=> N1.Headvalue.Nextvalue=>N2=>object
#7 it checks temp is none ,enters
#8 prints N1.Headvalue.Nextvalue.Datavalue=>N2.Datavalue=> mahesh
#9 modifies temp =temp.Nextvalue=> N1.Headvalue.Nextvalue.Nextvalue=>N2.Nextvalue=>N3=>object
#10 it checks temp is none ,enters
#11 prints N1.Headvalue.Nextvalue.Nextvalue.Datavalue=>N2.Nextvalue.Datavalue=>N3.Datavalue => yusuf
#12 modifies temp =temp.Nextvalue=> N1.Headvalue.Nextvalue.Nextvalue.Nextvalue=>N2.Nextvalue.Nextvalue=>N3.Nextvalue=>N4=>object
#13 it checks temp is none ,enters
#14 prints N1.Headvalue.Nextvalue.Nextvalue.Nextvalue.Datavalue=>N2.Nextvalue.Nextvalue.Datavalue=>N3.Nextvalue.Datavalue => N4.datavue=>madhan
#15 modifies temp =temp.Nextvalue=> N1.Headvalue.Nextvalue.Nextvalue.Nextvalue.Nextvalue=>N2.Nextvalue.Nextvalue.Nextvalue=>N3.Nextvalue.Nextvalue=>N4.Nextvalue=>None
#16 it checks temp is none false (breaks)

N1=linkedlist()
N1.Headvalue=node("aaj")
N2=node("mahesh")
N3=node("yusuf")
N4=node("madhan")

N1.Headvalue.Nextvalue=N2
N2.Nextvalue=N3
N3.Nextvalue=N4

In [ ]:
N1.display() #1 #17 success

aaj
mahesh
yusuf
madhan

In [ ]:
class node: #4 enters
  def __init__(self,data): #5 self = tempnode,data = "indhu"
    self.Datavalue=data #6 creates property tempnode.Datavalue="indhu"
    self.Nextvalue=None #7 tempnode.Nextvalue=None
class linkedlist:
  def __init__(self): 
    self.Headvalue=None
  def display(self):
    temp=self.Headvalue 
    while temp is not None: 
      print(temp.Datavalue)  
      temp=temp.Nextvalue
  def inbetween(self,middlenode,newdata): #2 self=N1,middlenode=N1.Headvalue.Nextvalue.Nextvalue=>N3,newdata="indhu"
    tempnode=node(newdata) #3 creates a new object tempnode from node class #8 success
    tempnode.Nextvalue=middlenode.Nextvalue #9 modifies tempnode.Nextvalue=middlenode.Nextvalue=N1.Headvalue.Nextvalue.Nextvalue.Nextvalue=>N4
    middlenode.Nextvalue=tempnode #10 N1.Headvalue.Nextvalue.Nextvalue.Nextvalue=>N3.Nextvalue=>tempnode


N1=linkedlist()
N1.Headvalue=node("aaj")
N2=node("mahesh")
N3=node("yusuf")
N4=node("madhan")


N1.Headvalue.Nextvalue=N2
N2.Nextvalue=N3
N3.Nextvalue=N4

In [ ]:
print("**************************Before insert*****************************")
N1.display()
print("**************************After  insert*****************************")
N1.inbetween(N1.Headvalue.Nextvalue.Nextvalue,"indhu") #1 #11 success
N1.display()

**************************Before insert*****************************
aaj
mahesh
yusuf
indhu
madhan
**************************After  insert*****************************
aaj
mahesh
yusuf
indhu
indhu
madhan

In [ ]:
str=input()

print(",".join(str))
print("*".join(str))

madhan
m,a,d,h,a,n
m*a*d*h*a*n

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
def solveMeFirst(a,b):

   return a+b

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
res = solveMeFirst(num1,num2)
print(res)

Enter first number: 3
Enter second number: 5
8

In [ ]:
def totalgain():

# **03 DEC 2022**

In [ ]:
class node: #4 enters
  def __init__(self,data): #5 self = tempnode , data = newdata => Rabin 
    self.Datavalue=data #6 creates prop, tempnode.Datavalue = Rabin
    self.Nextvalue=None #7 creates prop,tempnode.Nextvalue = None
class linkedlist:
  def __init__(self): 
    self.Headvalue=None
  def display(self):
    temp=self.Headvalue 
    while temp is not None: 
      print(temp.Datavalue)  
      temp=temp.Nextvalue
  def inbetween(self,middlenode,newdata): 
    tempnode=node(newdata) 
    tempnode.Nextvalue=middlenode.Nextvalue
    middlenode.Nextvalue=tempnode 
  def beg(self,newdata): #2 self => (N1), Newdata = "Rabin" 
    tempnode = node(newdata) #3 It creates tempnode based on the class node, | #8 successfully tempnode is create 
    tempnode.Nextvalue = self.Headvalue #9 tempnode.Nextvalue = N1.Headvalue
    self.Headvalue = tempnode #10 N1.Headvalue = tempnode


N1=linkedlist()
N1.Headvalue=node("aaj")
N2=node("mahesh")
N3=node("yusuf")
N4=node("madhan")


N1.Headvalue.Nextvalue=N2
N2.Nextvalue=N3
N3.Nextvalue=N4

In [ ]:
print("**************************Before insert*****************************")
N1.display()
print("**************************After  insert*****************************")
N1.inbetween(N1.Headvalue.Nextvalue.Nextvalue,"indhu") 
N1.display()
print("**************************After insert beg*****************************")
N1.beg("Rabin") #1 | # 11 Sucess
N1.display()

**************************Before insert*****************************
aaj
mahesh
yusuf
madhan
**************************After  insert*****************************
aaj
mahesh
yusuf
indhu
madhan
**************************After insert beg*****************************
Rabin
aaj
mahesh
yusuf
indhu
madhan

In [ ]:
N1

In [ ]:
N1.Headvalue.Nextvalue

In [ ]:
class node: 
  def __init__(self,data): 
    self.Datavalue=data 
    self.Nextvalue=None 
class linkedlist:
  def __init__(self): 
    self.Headvalue=None
  def display(self):
    temp=self.Headvalue 
    while temp is not None: 
      print(temp.Datavalue)  
      temp=temp.Nextvalue
  def inbetween(self,middlenode,newdata): 
    tempnode=node(newdata) 
    tempnode.Nextvalue=middlenode.Nextvalue
    middlenode.Nextvalue=tempnode 
  def beg(self,newdata):
    tempnode = node(newdata) 
    tempnode.Nextvalue = self.Headvalue 
    self.Headvalue = tempnode 
  def remove(self,removevalue):
    tempvalue = self.Headvalue
    while tempvalue is not None:
      if tempvalue.Datavalue == removevalue: 
        break
      previousnode = tempvalue
      tempvalue = tempvalue.Nextvalue
    if (tempvalue==None): # aaj remove (why?)
      print("No such Data")
      return
    previousnode.Nextvalue = tempvalue.Nextvalue


N1=linkedlist()
N1.Headvalue=node("aaj")
N2=node("mahesh")
N3=node("yusuf")
N4=node("madhan")


N1.Headvalue.Nextvalue=N2
N2.Nextvalue=N3
N3.Nextvalue=N4

In [ ]:
print("**************************Before insert*****************************")
N1.display()
print("**************************After  insert*****************************")
N1.inbetween(N1.Headvalue.Nextvalue.Nextvalue,"indhu") 
N1.display()
print("**************************After insert beg*****************************")
N1.beg("Rabin") 
N1.display()
print("**************************After del Yusuf*****************************")
N1.remove("Rabin")
N1.display()

**************************Before insert*****************************
aaj
mahesh
yusuf
madhan
**************************After  insert*****************************
aaj
mahesh
yusuf
indhu
madhan
**************************After insert beg*****************************
Rabin
aaj
mahesh
yusuf
indhu
madhan
**************************After del Yusuf*****************************

UnboundLocalError: ignored

# **04 DEC 2022**

In [ ]:
#1 CLASS FOR LIB
#1 CLASS FOR CUST
# LIB CLASS -> BOOKS AVAILABILITY, | LENDING A BOOK, | ADDING A BOOK
# CUST CLASS -> REQ BOOK | RETURN BOOK

In [ ]:
class library:
  def __init__(self,data):
    self.bookList = data
  def showBooks(self): #6
    for i in self.bookList: #7 
      print(i) #8 [Step 7,8 runs until loop finished]
  def lendBook(self,bookName): #A10 [self => Lib_A]|[bookName  => gets from requestedBook]
    if bookName in self.bookList:#A11 [we are verifying, above mentioned book is available]
      self.bookList.remove(bookName) #A12 [removing the bookName from bookList]
      print("Thank you, your req is fulfilled") #A13
    else:
      print("Book is not available")

  

class customer:
  def reqBook(self): #A3 [ enters into reqbook fn] | [Here, self =>  customer_Mathi]
    print("Enter the book name") #A4
    self.book = input() #A5 [ create self.book => customer_Mathi.book(this is property of  customer_Mathi)] | [It gets input from the user]
    return self.book #A6 [return book name]

In [ ]:
 # our perspective lib is our cust
lib_A = library(["b1","b2","b3","b4","b5","b6","b7","b4","b4","b7"]) # PREDEFINED STEPS
customer_Mathi = customer()

In [ ]:
while True:
  print("select the options from below") #1 
  print("\n1-show list of books\n2-lend a book\n3-return a book") #2 | 
  option = int(input()) #3 
  if option ==1: #4
    lib_A.showBooks() #5
  elif option ==2: #A1 
    requestedBook = customer_Mathi.reqBook() #A2 [creating a variable called requestedBook which will access from customer class  that will run req book] | #A7 [book name is  stored in requestedBook]
    lib_A.lendBook(requestedBook) #A8 [it calls lendBook from lib class based on requestedBook]

select the options from below

1-show list of books
2-lend a book
3-return a book
1
b1
b2
b3
b4
b5
b6
b7
b4
b4
b7
select the options from below

1-show list of books
2-lend a book
3-return a book
2
Enter the book name
b4
Thank you, your req is fulfilled
select the options from below

1-show list of books
2-lend a book
3-return a book
1
b1
b2
b3
b5
b6
b7
b4
b4
b7
select the options from below

1-show list of books
2-lend a book
3-return a book

KeyboardInterrupt: ignored

In [ ]:
#Task1:
#1. -> tracking that book lended by the customer from the library [book customer kitta kedachathaanu confirm pannanum]
#2. -> get the book from customer & add the same to the lib bookList
            # return the book which is already borrowed [vaanguna book ah thiruppi kodukkuratha vaangi namma booklist la vaikkanum]

In [ ]:
#Task2:
# customer hotel ulla vanthu just saapudra vara mattumm program

# step 1 write program to defined the menulist in hotel [everything should be predefined]
#2 Customer enters to Hotel
#3 customer request menu card
#4 food availibility shown to the customer - request MenuList(from #1)
#------------- #1 & 4 ----------- clarity irunthaa mattum #5 pogalam
#5 order food from MenuList
#6 requesting Data from customer & updating same to the Hotel
#7 internally, Hotel should update data count
#------------- #6 & 7 ----------- clarity irunthaa mattum #8 pogalam
#8 Hotel requesting the customer for further order
#9 Again step 6,7,8 runs until the customer order is completed
#------------- #9 ----------- clarity irunthaa mattum #10 pogalam
#10 customer ends the order 
#11 Hotel should calculate data, based on the order.

In [ ]:
!sudo apt-get update -y
!sudo apt-get install python3.10

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:5 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,348 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [30.0 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,519 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [22.9 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,307 kB]
Get:19 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [40.8 kB]
Fetched 6,552 kB in 2s (3,189 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following additional packages will be installed:
  libpython3.10-minimal libpython3.10-stdlib python3.10-minimal
Suggested packages:
  python3.10-venv binfmt-support
The following NEW packages will be installed:
  libpython3.10-minimal libpython3.10-stdlib python3.10 python3.10-minimal
0 upgraded, 4 newly installed, 0 to remove and 7 not upgraded.
Need to get 5,098 kB of archives.
After this operation, 19.5 MB of additional disk space will be used.
Get:1 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 libpython3.10-minimal amd64 3.10.8-1+bionic1 [823 kB]
Get:2 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 python3.10-minimal amd64 3.10.8-1+bionic1 [1,970 kB]
Get:3 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 libpython3.10-stdlib amd64 3.10.8-1+bionic1 [1,759 kB]
Get:4 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 python3.10 amd64 3.10.8-1+bionic1 [545 kB]
Fetched 5,098 kB in 3s (1,738 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 4.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package libpython3.10-minimal:amd64.
(Reading database ... 124015 files and directories currently installed.)
Preparing to unpack .../libpython3.10-minimal_3.10.8-1+bionic1_amd64.deb ...
Unpacking libpython3.10-minimal:amd64 (3.10.8-1+bionic1) ...
Selecting previously unselected package python3.10-minimal.
Preparing to unpack .../python3.10-minimal_3.10.8-1+bionic1_amd64.deb ...
Unpacking python3.10-minimal (3.10.8-1+bionic1) ...
Selecting previously unselected package libpython3.10-stdlib:amd64.
Preparing to unpack .../libpython3.10-stdlib_3.10.8-1+bionic1_amd64.deb ...
Unpacking libpython3.10-stdlib:amd64 (3.10.8-1+bionic1) ...
Selecting previously unselected package python3.10.
Preparing to unpack .../python3.10_3.10.8-1+bionic1_amd64.deb ...
Unpacking python3.10 (3.10.8-1+bionic1) ...
Setting up libpython3.10-minimal:amd64 (3.10.8-1+bionic1) ...
Setting up libpython3.10-stdlib:amd64 (3.10.8-1+bionic1) ...
Setting up python3.10-minimal (3.10.8-1+bionic1) ...
Setting up python3.10 (3.10.8-1+bionic1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for mime-support (3.60ubuntu1) ...

In [ ]:
fruit = "apple"

match fruit:
   case 'apple':
     print(10)
   case 'orange':
     print(5)
   case 'guava':
     print(7)
   case 'banana':
     print(2)

SyntaxError: ignored

# **next class**